@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');
.container{
    height: 200vh;
    width: 100%;
    background-image: url('../../../public/images/contact2.jpg');
    background-attachment: fixed;
    background-size: 50%;
    background-position: center;
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    align-items: center ;
    justify-content: center;
    padding-top: 4%;    
    
}





