@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');
.ccontainer{
    height: 200vh;
    width: 100vw;
    background-image: url('../../../public/images/contact2.jpg');
    background-attachment: fixed;
    background-size: 50%;
    background-position: center;
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    align-items: center ;
    justify-content: center;
    padding-top: 4%; 
    overflow-x: hidden; /* Hide horizontal scrollbar */   
    
}


@media screen and (max-width: 480px) {
    .ccontainer{
        
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 320vh;
        position:absolute;
        top: 0px;
        right: 0;
        /* border: 3px solid red; */
        padding-top: 0px;
        overflow-x: hidden; /* Hide horizontal scrollbar */   
    }

}





