@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');


.gallery{
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding-top: 0px;
    background-color:  rgba(0, 0, 0, 0.573);
    position:absolute;
    top: -10px;
    padding-top: 7%;
    padding-left: 1%;
    padding-right: 1%;
}

.h1div{
    /*align into center*/
    text-align: center;
    font-family: 'Rowdies', cursive;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    width: 100%;
    position:absolute;
    top: 0;
    margin-top: 80px;
    z-index: 9;
}

.h1div h1{
    font-family: 'Rowdies';
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.664);
}


.gallery .pics{
    -webkit-transition: all 350ms ease-out;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}
.gallery .pics:hover{
    filter: opacity(.8);
}

/*model*/

.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0);
    transition:  opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999999;
}
.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    
}

.model img{
    width: auto;
    max-width: 100% ;
    height: 100%;
    max-width: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: auto;
}

.model.open svg {
    position:fixed;
    top: 80px;
    right: 20px;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    background-color: black;
    color: white;
    z-index: 999999999;

}

@media (max-width:991px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width:480px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }

    .gallery .pics:hover{
        filter: opacity(1);
    }
    
  
    .h1div{
        /*align into center*/
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 10vh;
        text-align: center;
    
    }
    .h1div h1{
    font-family: 'Rowdies';
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.573);
    z-index: 9999;
    position: absolute;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left:30%;
    padding-top: 5%;
        
    }

    .model.open svg {
        position:fixed;
        top: 100px;
        right: 20px;
        width: 3rem;
        height: 3rem;
        padding: 5px;
        background-color: black;
        color: white;
    
    }
    
}