

.impressum-container{
    display: fit-content;
  
}

.impressum-container li {
    font-size:1.5rem;
    padding: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    color: rgb(0, 0, 0) ;
    text-align: left;
    align-items: left;
    justify-content: center;
    /* border: 5px solid rgb(184, 34, 34); */
    
}