

.impressum-container{
    display: fit-content;
    position: absolute;
    top: 0;
   
    width: 100%;
    height: 130vh;
  margin-bottom: 10%;
}

.impressum-container li {
 
    font-size:1.5rem;
    

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    color: rgb(0, 0, 0) ;
    text-align: left;
    align-items: left;
    justify-content: center;
    /* border: 5px solid rgb(184, 34, 34); */
    
}