
.section-container{
    position: absolute;
    display: inline-block;
    height: 200vh;;
    width: 100%;
    /* border: 3px solid rgb(8, 21, 197); */
    color:white;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    /* background-image: url('../../public/images/contact2.jpg');
    background-size: 50%; */
   
}

.contactSection__wrapper_left{
    margin-top: 30px;
    position: absolute;
    left: 0;
    display: row;
    padding-left: 15%;
    width: 50%;
    height: 100vh;
    /* border: 3px solid rgb(4, 89, 95); */
    align-items: left;
    justify-content: left;
    

}

.contactSection__wrapper_right{
    margin-top: 30px;
    position: absolute;
    right: 0;
    display: row;
    padding-right: 10%;
    width: 40%;
    /* border: 2px solid rgb(226, 233, 9); */
    align-items: right;
    justify-content: right;
    margin-right: 10%;

}

.map{
    position: absolute;
    bottom:10%;
    left: 10%;
    right: 10%;
    width: 80%;
    
}




 
h1 {
    color: rgb(255, 255, 255) ;
    font-size: 8rem;
    
}

h2{
    color: rgb(255, 255, 255) ;
    font-size: 2rem;
    margin-bottom: 1rem;
}