
.ItemStyles{
    background-color: rgba(1, 238, 255, 0);
    background-image: url('../../public/images/div3.png');
    background-position: center;
    background-size: 10px;
     width: 520px;
     height: 120px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    /* border: 1px solid rgb(189, 17, 17); */
    margin-bottom: 2rem;

}


.icon{

    padding: 1.2rem ;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    
}
.iconstyle{
    color: rgb(255, 254, 254);
    font-size: 2rem;
}

svg{
    width: 4rem;
}





p{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);

}



 @media only screen and (max-width: 768px) {
    .info .p{
        font-size: 1.4rem;
    }
}