@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');
.section-container{
    position: absolute;
    display: inline-block;
    height: 200vh;;
    width: 100%;
    /* border: 3px solid rgb(8, 21, 197); */
    color:white;
    align-items: center;
    justify-content: center;
    text-align: center;
    left:0;
    /* background-image: url('../../public/images/contact2.jpg');
    background-size: 50%; */
   
}

.contactSection__wrapper_left{
    margin-top: 30px;
    margin-bottom: 300px;
    position: absolute;
    left: 0;
    display: row;
    padding-left: 15%;
    width: 50%;
    height: contain;
    /* border: 3px solid rgb(4, 89, 95); */
    align-items: left;
    justify-content: left;
 
}

.contactSection__wrapper_right{
    margin-top: 30px;
    position: absolute;
    right: 0;
    display: row;
    padding-right: 5%;
    width: 40%;
    height: contain;
    /* border: 2px solid rgb(226, 233, 9); */
    align-items: right;
    justify-content: right;
   

}

.map{
    position: relative;
    bottom: 0;
    margin-top: 5%;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}


.section-container h1 {
    color: rgb(255, 255, 255) ;
    font-size: 5rem;
    margin-top: 15px;
    font-family: 'Rowdies', cursive, Arial, sans-serif;
    
}

.section-container h2{
    color: rgb(255, 255, 255) ;
    font-size: 2rem;
    margin-bottom: 0px;
    font-family: 'Rowdies', cursive, Arial, sans-serif;
}

.section-container a {
    text-decoration: none;
  }


  @media screen and (max-width:480px){
    .section-container{
        position: absolute;
        display: row;
        height: 270vh;;
        width: 100%;
        /* border: 3px solid rgb(8, 21, 197); */
        color:white;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url('../../public/images/contact2.jpg');
        background-size: contain;
        background-repeat: repeat-y;
       
    }
    
    .contactSection__wrapper_left{
        margin-top: 30px;
        margin-bottom: 300px;
        position: relative;
        left: 0;
        display: row;
        padding-left:5%;        width: 50%;
        height: contain;
        /* border: 3px solid rgb(4, 89, 95); */
        align-items: left;
        justify-content: left;
     
        
    
    }
    
    .contactSection__wrapper_right{
        position: absolute;
        top: 900px;
        display: row;
        left: 0;
        width: 40%;
        height: contain;
        /* border: 2px solid rgb(226, 233, 9); */
        align-items: left;
        justify-content: left;
       
    
    }
    
    .map{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        margin-top: 25%;
        padding-top: 100%;
        padding-right: 10%;
        padding-left: 10%;
        width: 80%;
        height: auto;
    }
    
    
    .section-container h1 {
        color: rgb(255, 255, 255) ;
        font-size: 5rem;
        margin-top: 20%;
        font-family: 'Rowdies', cursive, Arial, sans-serif;
        
    }
    
    h2{
        color: rgb(255, 255, 255) ;
        font-size: 1.8rem;
        margin-bottom: 0px;
        font-family: 'Rowdies', cursive, Arial, sans-serif;
    }
    
    a {
        text-decoration: none;
      }
  }