@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');
.contactFormContainer{
    transition: all 3s;
    transform: transLateX(0);
    
    height:565px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    display: fixed;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    align-items: left;
    justify-content: left;
    /* border: 2px solid rgb(18, 192, 26); */
}
.contactFormContainerHidden{
    opacity: 0;
    filter: blur(5px);
    transform: transdlateX(-100%);
   transition: all 5s;
}

label{
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 150px;
    height: 42px;
    font-size: 26px;
    padding-left: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    font-family: 'Rowdies', cursive, Arial, sans-serif;
}

input{
    position: relative;
    display: flex;
    top: -40px;;
    left: 150px;
    font-size: 28px;
    
    border: 1px solid rgb(255, 255, 255);
    align-items: left;
    justify-content: left;
    width: 50%;
    height: 40px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    border: 1px solid rgb(0, 0, 0);
}

textarea{
    position: relative;
    display: flex;
    top: -40px;;
    left: 150px;
    font-size: 28px;
    width: 50%;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Rowdies', cursive, Arial, sans-serif;
}

.contactForm__message{
    /* border: 3px solid rgb(194, 18, 18); */
    position: relative;
    
}

.form-group{
    position: relative;
    top: 0;
    left: 0;
    display: fit-content;
    align-items: left;
    justify-content: left;
    /* border: 1px solid rgb(194, 7, 194); */
}


.contactFormContainer h2{
    position: relative;
    top: 0;
    left: 150px;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-family: 'Rowdies', cursive, Arial, sans-serif;
    /* border: 1px solid rgb(255, 255, 255); */
}

@media (max-width:480px){

}