@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');
.ItemStyles{
    
    transition: all 3s;
    transform: transLateX(0);

    background-color: rgba(1, 238, 255, 0);
    background-image: url('../../public/images/div4.png');
    background-size: 10%;
     width: 600px;
     height: 100px;
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    /* border: 1px solid rgb(189, 17, 17); */
    margin-bottom: 2rem;
    font-family: 'Rowdies', cursive, Arial, sans-serif;

}
.ItemStylesHidden{
    opacity: 0;
     filter: blur(5px);
     transform: transdlateX(-10%);
    transition: all 2s;
}

.ItemStyles:nth-child(2){
    transition-delay: 400ms;
}
.ItemStyles:nth-child(3){
    transition-delay: 1000ms;
}

.ItemStyles:nth-child(4){
    transition-delay: 1600ms;
}




.icon{

    padding: 1.3rem ;
 
    align-items: center;
    justify-content: center;
    border-radius:50%;
    
}
.iconstyle{
    color: rgb(255, 254, 254);
    font-size: 2rem;
}

svg{
    width: 4rem;
}




.itemstylecontainer p{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-family: 'Rowdies', cursive, Arial, sans-serif;

}



 @media only screen and (max-width: 768px) {
    .info .p{
        font-size: 1.4rem;
    }
   
}

@media(preferens-reduced-modtion){
    .hidden{
        transition: none
    }
}

@media (max-width:480px){

    .itemstylecontainer{
        padding-top:0px;
    }

    .ItemStyles{
    
        transition: all 3s;
        transform: transLateX(0);
    
        background-image: url('../../public/images/div5.png');
        background-position: center;
        background-size: 90%;
         width: 340px;
         height: 100px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: repeat-x;
        background-size: cover;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        /* border: 1px solid rgb(189, 17, 17); */
        margin-bottom: 0rem;
        font-family: 'Rowdies', cursive, Arial, sans-serif;
    
    }
    .ItemStylesHidden{
        opacity: 0;
         filter: blur(5px);
         transform: transdlateX(-10%);
        transition: all 2s;
    }
    
    .ItemStyles:nth-child(2){
        transition-delay: 400ms;
    }
    .ItemStyles:nth-child(3){
        transition-delay: 1000ms;
    }
    
    .ItemStyles:nth-child(4){
        transition-delay: 1600ms;
    }
    
    
    
    
    .icon{
    
        padding: 0rem ;
     
        align-items: center;
        justify-content: center;
        border-radius:50%;
        
    }
    .iconstyle{
        color: rgb(255, 254, 254);
        font-size: 2rem;
    }
    
    svg{
        width: 4rem;
    }
    
    
    
    
    
    .info p{
        font-size: 1rem;
        color: rgb(255, 255, 255);
        font-family: 'Rowdies', cursive, Arial, sans-serif;
    
    }
    
}