@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');

.zeiten {
    transition: all 3s;
    transform: transLateX(0);
    opacity: 1;
    background-color: rgba(255, 127, 80, 0);
    background-image: url('../../public/images/div4.png');
    background-repeat: no-repeat;
    background-position: bottom bottom;
    background-size: 100%;
    z-index: -100;
    height:300px;
    width: 100%;
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Rowdies', cursive, Arial, sans-serif;
   
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
}
.zeitenHidden{
    opacity: 0;
    filter: blur(5px);
    transform: transdlateX(-100%);
    transition: all 5s;
}


.textclass{ 
    
     /* border: 8px solid rgb(25, 23, 25); */
    z-index: -1000;
    height:350px;
    width: auto;
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: -50px;
    padding-top: 0px;
}

.textclass h1{
   font-size: 2rem;
   margin-top: 0px;
   
}


.zeiten h1 {
    padding: 20px;
    padding-top: 0px;
    font-size: 60px;
    color: rgb(234, 232, 232) ;
   
    /* border: 5px solid rgb(184, 34, 34); */
    

}

.left_zeiten{
    /* border: 2px solid rgb(255, 255, 255); */
    width: 50%;
    height: 290px;
    position: absolute;
    justify-content: left;
    align-items: left;
    left: 12%;
    text-align: center;
    padding-left:  0%;
    margin-top: 120px;
    font-size: 1.4rem;

}
.left_zeiten p{
    text-align: left;
    padding-left:  15%;
   
}
.zeitenheader{
    padding-bottom: 10px;
}

.right_zeiten{
    /* border: 2px solid rgb(255, 255, 255); */
    width: 50%;
    height: 290px;
    position: absolute;
    justify-content: right;
    align-items: right;
    right: 8%;
    font-size: 0.5rem;
    text-align: center;
    padding-right: 0%;
    margin-top: 120px;
    font-size: 1.4rem;
}


@media (max-width:480px){
    .zeiten {
        background-image: url('../../public/images/div4.png');
        background-position: center bottom;
        background-size: cover;
        z-index: -100;
        height:160px;
        width: 100%;
        display: flex;
        
        /* border: 2px solid rgba(255, 255, 255, 0.5); */
      
    }
    .zeitenHidden{
        opacity: 0;
        filter: blur(5px);
        transform: transdlateX(-100%);
        transition: all 5s;
    }
    
    
    .textclass{ 
        
         /* border: 1px solid rgb(202, 16, 202); */
        z-index: -1000;
        height:350px;
        width: auto;
        display: flex;
     
    }
    
    .textclass h1{
       font-size: 4rem;
       margin-top: -40px;
       /* border: 8px solid rgb(16, 202, 25); */
    
    }
    
    
    .zeiten h1 {
        padding: 0px;
        padding-top: 0px;
        margin-bottom: 20px;
    
    }
    
    .left_zeiten{
        /* border: 2px solid rgb(255, 255, 255); */
        width: 80%;
        height: 100px;
        position: absolute;
        top: -80px;
        justify-content: left;
        align-items: left;
        left: 12%;
        font-size: 0.5rem;
        text-align: center;
        font-size: 0.9rem;
        /* border: 1px solid #fff; */
        padding: 5px;

    }
    .left_zeiten p{
        text-align: left;
        padding-left:  0;
       
        
        font-weight: 1px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    .right_zeiten{
        display: none;
    }
}