.App{
  text-align: center;;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* overflow:hidden; */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  
}

.spinner{
  justify-content: center;
  align-items: center;
  display: flex;
 background-color: black;
 width: 100vw;
 height: 100vh;
 margin-top: -10px;
  margin-left: -10px;
}

.app-route{
  width: 100vw;
  position: absolute;
  left: 0;

}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}