.App{
  text-align: center;
  display: fill;
  align-items: center;
  justify-content: center;
}

.spinner{
  justify-content: center;
  align-items: center;
  display: flex;
 background-color: black;
 width: 105%;
 height: 105vh;
 margin-top: -10px;
  margin-left: -10px;
}